et_xmlfile==2.0.0
Jinja2==3.1.6
MarkupSafe==3.0.3
narwhals==2.26.0
numpy==2.5.3
openpyxl==3.1.5
packaging==26.3
pandas==3.0.6
plotly==7.1.0
PySide6==6.11.2
PySide6_Addons==6.11.2
PySide6_Essentials==6.11.2
python-dateutil==2.9.0.post0
shiboken6==6.11.2
six==1.17.0
tzdata==2026.4
ipykernel==6.29.5
jupyter==1.1.1
notebook==7.3.1
xlrd==2.0.1
